<div>
    <footer class="border-top footer text-muted text-black text-center">
        <div class="footer-container">
            &copy; 2021 - Simple-ATM-App - <a href="https://github.com/arabianCoconut" target="_blank">Github ArabianCoconut</a>
        </div>
    </footer>
</div>