@page "/"

<PageTitle>Home</PageTitle>

@if (user != null)
{
    <h1>Hello, @user!</h1>
}
else
{
    <h1>Hello, user!</h1>
}

<h2>Welcome to your new app.</h2>

@code{
    @using System;
    public string? user { get; set; }

    protected override void OnInitialized()
    {
        user = Environment.UserName;
    }
}
